body {

  color: #ededed;
  font-family: monospace;
  display: table-cell;
  verticle-align: middle;
  height: 100%;
  
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
  min-width: 256px;
  padding-top: 8px;
  padding-bottom: 24px;
  padding-left:24px;
  padding-right: 24px;
}
html {
  background: radial-gradient(circle, Red);
  background-size: 8px 8px;
  display: table;
  margin: auto;
  height: 100%;

}
